<footer  class="footer bg-dark mt-0">
  <div class="container align-items-center my-2">
    <span class="text-light align-center" > Bread Help 2021</span><br>
    <span class="text-light">&copy A masterpiece By Hassan </span>  
  </div>
</footer>