<% layout('layout/boilerplate') %> 
<div class="row text-center"> 
  <div class="col-md-12">
    <h1>All backeries</h1>
    <ul style="list-style:none; text-align:center;">
      <% for(let backry of backeries) { %>
        <li>
          <h2>  <a href="/newb/<%= backry.id %>"><%= backry.backerysname %></a></h2>
        </li>    
      <%} %>
    </ul>
    <a href="/newones"><h2> Add new Backeries</h2></a>  <br> <br>
  </div>
</div>
