<% layout('layout/boilerplate') %>
<div class="container pt-1 home-block text-center">
  <div class="mt-3">
    <div class="jumbotron" style="background: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3))">
      <h1 class="display-4 text-white jumbotron-text-0">BACKERY HELP</h1>
      <h4 class="text-center mt-1 text-dark">
        بهشت عدن اگر خواهی بیا با ما به میخانه****** که از پای خمت یکسر به حوض
        کوثر اندازیم
      </h4>
      <hr class="my-4" />
      <h5 class="text-center text-warning jumbotron-text-1">Söker du paradiset? följa med oss till baren</h5>
      <h5 class="jumbotron-text-2 text-dark">
        Vi kasta dig direkt från bredvid vin tunen till paradiset
      </h5>
    </div>
  </div>
</div>
